body{
    background-color: aliceblue;
}

.navbar {
	opacity: 0.8;
	border-bottom: 1px solid #fff;
}

h1{
   text-align:center;
   margin-top:10%;
}
.paragraf1{
 margin:auto;
 float:right;
 width:80%;
 margin-top:5%;
 margin-right:10%;
}
.foto1{
    float:left;
    padding:0 20px 10px 0;
    width:330px; 
    height:250px;
    margin-top:-50px;
   
}
.sırala{
    margin-top: 25%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom:7%;
    
}
footer{
    margin-top:10%;
}
